{% extends 'frontend/base.html' %}
{% load static %}
{% block title %}{{ name }}{% endblock %}

{% block content %}
<div>
    <h3 class="sub-title">{{ name }}</h3>
    <div class="d-flex">
    <a class="btn_new_a" href="{% url 'edit_scheme' name=name %}">Edit schema</a>
    </div>
</div>
<br /><br />
<div style="width: 50%;">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
          </tr>
        </thead>
        <tbody>
          {% if schema_info %}
            {% for column in schema_info %} 
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ column.name }}</a></td>
              <td>{{ column.type }}</td>              
            </tr>
            {% endfor %}
          {% else %}
          <tr>
            <th scope="row">You don't have any column yet</th>
          </tr>
          {% endif %}
        </tbody>
      </table>
</div>
<br /><br />
<div>
    <div class="d-flex"></div>
        <h6>Data sets</h3>
        <label for="input_rows">Rows:</label>
        <input id="input_rows"/>
        <button type="button" class="btn btn-success btn_new_pr" id="button_generate">Generate data</button>
    </div>
</div>

<div class="base_div">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Created</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody class="tbody_id">
        {% if data_schemas %}
            {% for file in data_schemas %} 
            <tr class="clone_tr">
                <th scope="row" class="counter_th">{{ forloop.counter }}</th>
                <td class="date_mod">{{ file.modified }}</a></td>
                <td><p class="ready">ready</p></td>
                <td><a href="/media/{{user}}/data_schemas/{{file.link}}" download>Download</a></td>              
            </tr>
            {% endfor %}
        {% else %}
        <tr>
            <th scope="row">You don't have any generated schemas</th>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>
<script>
    function funcSuccess(data) {
        const obj = JSON.parse(data);
        $('.new_tr').remove();
        let last_counter = $(".counter_th").length;
        let link = `/media/{{user}}/data_schemas/${obj.file_name}`
        let created = obj.date
        let new_tr = `<tr class="new_tr"> \
                        <th scope="row" class="counter">${Number(last_counter) + 1}</th>\
                        <td class="date_mod">${created}</td>\
                        <td><p class="ready">ready</p></td>\
                        <td><a href="${link}" download>Download</a></td> </tr>`;
        $('.tbody_id:last').append(new_tr);
    };

    function funcBefore() {
        let last_counter = $(".counter_th").length;
        let new_tr = `<tr class="new_tr"> \
                        <th scope="row" class="counter">${Number(last_counter) + 1}</th>\
                        <td class="date_mod"></td>\
                        <td><p class="processing">processing</p></td>\
                        <td></td> </tr>`;
        
        $('.tbody_id:last').append(new_tr);
    };

    $(document).ready(function(){
        $('#button_generate').click(function(){
            const data_post = {
                rows: $('#input_rows').val(),
                name: "{{ name }}",
                user: "{{ user }}"
            };
            $.ajax({
                url: "{% url 'generate_data' %}",
                type: "POST",
                data: data_post,
                dataType: "html",
                beforeSend: funcBefore,
                success: funcSuccess,
            });
        });
    });
</script>
{% endblock %}